*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page {
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
    
}

#page>img{
    position: absolute;
    height: 50%;
    width: 50%;
    
    object-fit: cover;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
    
    margin-top: 20%;
    margin-left: 40%;
}